pkgs/Wadl/UploadDocumenttoDMS.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="UploadDocumenttoDMS" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Upload Document to DMS" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_file_def_name_def" />
      <base64Binary name="ManualTriggerInput_file_def_contentBytes_def" />
      <object name="ManualTriggerInput_file_def">
        <property name="name" type="string" />
        <property name="contentBytes" typeRef="ManualTriggerInput_file_def_contentBytes_def" />
      </object>
      <string name="ManualTriggerInput_date_def" />
      <number name="ManualTriggerInput_number_def" />
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <string name="ManualTriggerInput_date_1_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <object name="ManualTriggerInput">
        <property name="file" typeRef="ManualTriggerInput_file_def" />
        <property name="date" type="string" />
        <property name="number" type="number" />
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="number_1" type="number" />
        <property name="date_1" type="string" />
        <property name="text_4" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="file" path="/file" type="service:ManualTriggerInput_file_def" required="true">
              <doc title="File Content" />
            </param>
            <param style="plain" name="date" path="/date" type="xs:string" required="true">
              <doc title="RevisionDate" />
            </param>
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="VersionNo" />
            </param>
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Reason" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Status" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="ApprName" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="ApprEmail" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="DMS_id" />
            </param>
            <param style="plain" name="date_1" path="/date_1" type="xs:string" required="true">
              <doc title="EffectivityDate" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string" required="true">
              <doc title="EffectivityDateRnd" />
            </param>
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>